<html>
    <style>
        #header{background-color: black;;color: white;text-align: center;padding: 10px;font-family: 宋体;}
        #fotter{background-color: black;color: white;text-align: center;padding: 1px;font-size: 10px;font-family: 宋体;}
        #body{overflow: auto;height: 1000px;width: 500px;margin: 0 auto;}
    </style>
    <div id="body"><body>
        <div id="header"><h1>朝露日历</h1></div>
        <p style="text-align: center;font-size: 15px;">2020年 12月 7日 星期一 射手座<br> 庚子年 十月廿三</p> <hr>
        <p style="text-align: center;font-size: 120px;font-weight: 800;font-family: Eras Bold ITC;">24</p>
        <p style="text-align: center;font-size: 50px;font-family: 华文中宋;">宜平淡</p><hr>
        <p style="text-align: left;font-size: 20px;font-family: 宋体;">你来人间一趟，你要看看太阳，和你的心上人，一起走在街上。</p>
        <p style="text-align: justify;font-size: 20px;font-family: 宋体;">诗人，海子《夏天的太阳》</p><hr>
        <p style="text-align: justify;font-size: 15px;">今天距离圣诞节还剩18天</p>
        <div id="fotter"><h2>譬如朝露，去日苦多</h2></div>
        <a href="https://cloud-minapp-17523.cloud.ifanrusercontent.com/1kmGMAoRlsxmojJY.gif" style="text-decoration:none;color:black">奖励一下</a>
    </body></div>
</html>