<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>测试</title>
    <link rel="stylesheet" type="text/css" href='{% static "css/2.css" %}'/>
</head>
<body>
<div class="container">
    <h1>
        <button type="button" onclick="alert('倒数记日帮你记录每一个重要的日子，念念不忘，必有回响')">倒数记日</button>
    </h1>

    <div class="one">
        <span>使用说明
            <div class="two"></div>
        </span>
        <p>点击首页右上角加号可以新增记录<br>
            记录支持正数和倒数，支持传统农历和公元历法<br>
        </p>
    </div>
    <div class="one">
        <span>关于消息提醒
            <div class="three"></div>
        </span>
        <p>你可以设置时间是否需要通知，也可以制定日期进行通知。</p>
    </div>
    <div class="one">
        <span>数据安全
            <div class="two"></div>
        </span>
        <p>倒数记日使用爱范儿旗下的知晓云作为数据后台，您的所有数据加密保存在云上，本应用不会分析、加工、泄露您的个人数据。</p>
    </div>
    <div class="one">
        <span>关于应用
            <div class="two"></div>
        </span>
        <p>倒数记日是由一位有爱的开发者独立设计和开发的小程序，希望您能够喜欢哦，也希望您可以将使用过程中将遇到的问题反馈给我，同时欢迎开发者朋友添加我的微信进行交流。</p>
    </div>
    <footer>
        echo xmF5bW9uZFNBVEEKgun丨base64--decode
    </footer>
</div>
</body>
</html>