{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 瑞士爱尚 | 关于我们 {% endblock %}

{% block script %}
    <link rel="stylesheet" type="text/css" href='{% static "css/about_us.css" %}'/>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.anystretch.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="bg" data-stretch="http://p4jgnfdei.bkt.clouddn.com/about_us_banner.jpg?imageslim">
        <div class="home_motto">
            <h1 class="motto_title">让我们做的更多</h1>
            <p class="motto-desc">
                AISwiss集团秉持"爱家人，爱健康，爱生活"的服务理念，在不断进取的过程中，在医疗保健、低龄教育、信托理财、移民置业、海外投资等领域上不断突破。致力于提供最全面最优质的瑞士一手资源，真正的做到"Beyond
                Your Expectation"</p>
        </div>
    </div>
    <div id="our_service">
        <div class="subtitle">
            了解我们
        </div>
        <div class="title">
            我们的服务
        </div>
        <hr class="title_divide"/>
        <div class="description">
            瑞士爱尚AISWISS集团创建于2008年，立足瑞士，致力于为中国精英家庭提供最全面的瑞士优势资源及海外个性化服务。集团业务主要分为：爱尚教育及管家服务，爱尚医疗健康服务，爱尚旅游定制服务，爱尚多媒体影音。我们已经为超过1000个中国精英家庭提供专项服务。公司总部设立在著名的风光之城——琉森，公司业务遍及瑞士的每一个城市。公司在提升自我、开拓资源、迭代更新上从未停止前进的脚步。中国游客造访瑞士人次上更是长年保持首位。我们将瑞士卓越品质传递给中国每一个追求高品质生活的精英家庭。
        </div>
        <div class="container services_blocks">
            <div class="service_row" style="justify-content: space-between">
                <div class="service">
                    <div class="service_img">
                        <img src="http://p4jgnfdei.bkt.clouddn.com/service_icon_1.png?imageslim">
                    </div>
                    <h1>一流的医疗体系</h1>
                    <p>瑞士拥有非常密集的一流专科医院、综合医院、康复中心和保健机构。这个国家以其首创性的医疗成就和出色的治疗效果而闻名全球。瑞士医院拥有先进的治疗方法和技术，并且配备了最先进的医疗设备。</p>
                </div>
                <div class="service">
                    <div class="service_img">
                        <img src="http://p4jgnfdei.bkt.clouddn.com/health_icon_expert.png?imageslim">
                    </div>
                    <h1>著名的医疗专家</h1>
                    <p>瑞士的医生在国际上享有盛誉，并且在新治疗方法的研究和开发方面始终处于世界领先地位。不断提高医疗水平就是他们的重心，质量就是他们的基本原则。</p>
                </div>
                <div class="service">
                    <div class="service_img">
                        <img src="http://p4jgnfdei.bkt.clouddn.com/service_icon_3.png?imageslim">
                    </div>
                    <h1>出色的医护人员</h1>
                    <p>瑞士医护教育水平极其出色。病人则从出类拔萃的医护标准和二十四小时人工护理中受益匪浅。医护团队始终关注每位病人以及他们的安康。</p>
                </div>
            </div>
        </div>
    </div>
    <div id="company_env">
        <div class="subtitle">
            了解我们
        </div>
        <div class="title">
            公司环境
        </div>
        <hr class="title_divide"/>
        <div class="description">
            瑞士爱尚AISWISS集团创建于2008年，立足瑞士，致力于为中国精英家庭提供最全面的瑞士优势资源及海外个性化服务。集团业务主要分为：爱尚教育及管家服务，爱尚医疗健康服务，爱尚旅游定制服务，爱尚多媒体影音。我们已经为超过1000个中国精英家庭提供专项服务。公司总部设立在著名的风光之城——琉森，公司业务遍及瑞士的每一个城市。公司在提升自我、开拓资源、迭代更新上从未停止前进的脚步。中国游客造访瑞士人次上更是长年保持首位。我们将瑞士卓越品质传递给中国每一个追求高品质生活的精英家庭。
        </div>
    </div>
    <div id="our_team">
        <div class="subtitle">
            了解我们
        </div>
        <div class="title">
            我们的团队
        </div>
        <hr class="title_divide"/>
        <div class="container team_member_block">
            <div class="team_member">
                <img src="http://p4jgnfdei.bkt.clouddn.com/team_member_1.png?imageslim">
                <p class="name">常辉</p>
                <p class="position">瑞士爱尚集团创始人</p>
                <p class="personal_intro">
                    瑞士酒店管理学院本科毕业，工商管理MBA硕士。十余年的旅瑞生活经验，深度了解瑞士文化，掌握瑞士优势资源及丰富人脉。十年的高端服务业经验积累，开创出瑞士教育管家概念和海外医疗服务，致力于为中国精英家庭提供瑞士卓越生活品质。
                </p>
            </div>
            <div class="team_member">
                <img src="http://p4jgnfdei.bkt.clouddn.com/team_member_2.png?imageslim">
                <p class="name">王瑶</p>
                <p class="position">瑞士爱尚集团教育部项目经理</p>
                <p class="personal_intro">
                    曾就读于湖南大学国际学院，毕业于瑞士洛桑酒店管理学院和凯萨里兹大学旅游管理专业，精通德英等多国语言，熟谙瑞士教育体系和西方文化。对瑞士国际教育和学生成长就业规划 有专业和全面的见解。
                </p>
            </div>
            <div class="team_member">
                <img src="http://p4jgnfdei.bkt.clouddn.com/team_member_3.png?imageslim">
                <p class="name">从威</p>
                <p class="position">瑞士爱尚集团医疗项目经理</p>
                <p class="personal_intro">
                    丛威Felix 曾就读于德国曼海姆大学，毕业于里昂第二大学市场营销专业。拥有17年欧洲生活经验，精通法语、德语两门语言。深度了解瑞士医疗系统，长期任职于医疗接待部门管理层。
                </p>
            </div>
        </div>
    </div>
    <div id="our_cert">
        <div class="subtitle">
            了解我们
        </div>
        <div class="title">
            我们的资质
        </div>
        <hr class="title_divide"/>
        <img src="http://p4jgnfdei.bkt.clouddn.com/certificate-of-authorisation-ai-swiss.png?imageslim" alt="">
    </div>
    <div id="company_letter">
        <img src="http://p4jgnfdei.bkt.clouddn.com/team_member_1.png?imageslim" alt="">
        <p class="lead_title">CEO 常辉 PETER</p>
        <p class="letter_title">公司致辞</p>
        <p class="letter_content">
            瑞士AISWISS集团是瑞士品质最佳诠释着，我们为您的美好生活助力。公司以“爱家人，爱健康，爱生活”为公司经营理念，传递最高端瑞士生活品质，为中国精英提供全方位一站式服务理念。长期的高端服务经验让我们深刻知道精英人群的需求和服务标准。我们的团队在开拓进取，挖掘深度优势资源的道路上从未停滞过。我们深知此举的重要性。依附优势资源，我们的团队在服务理念，专业标准以及工作热情方面实行反复培训体制。我们的团队采用本土高端化及欧洲多元化配置，让团队元素更丰富，客户体验最佳。公司秉持“客户至上”的服务理念，提供给家长最贴心，最放心的团队支持。在我们的帮助下，许多能力卓越的孩子实现了自己的理想，享受了美好的童年。受到了瑞士最顶尖的教育服务。家人臻享了瑞士最好的医疗健康，投资信托，移民等优质资源。我非常开心看到一个又一个家庭收获了他们的幸福。
            <br><br>
            旅瑞十余载，切身感受瑞士之美空气，环境，美景都在体现着瑞士卓越品质。不忘初心，我们不予余力的将瑞士卓越品质传递给我热爱的祖国，每一个追求高品质生活的精英家庭。让更多的家庭能够和我一样感受她，享受她，拥有她。2018我们杨帆起航，期待您的同行，让我们一起为孩子，为家人的未来努力。
        </p>
    </div>
    <div id="contact_us">
        <div class="subtitle">
            了解我们
        </div>
        <div class="title">
            联系我们
        </div>
        <hr class="title_divide"/>
        <div class="container contact_info">
            <div class="left">
                <p class="contact_title">联系方式</p>
                <p class="contact_method">
                    邮箱：aiswiss-service@outlook.com<br>
                    电话(瑞士)：+41 787959866<br>
                    电话(中国)：+86 18518082504<br>
                    地址：Hoeflistrasse 26030 Ebikon
                </p>
                <div class="qrcode_block">
                    <img src="http://p4jgnfdei.bkt.clouddn.com/qrcode_3.jpeg?imageslim" alt="">
                    <img src="http://p4jgnfdei.bkt.clouddn.com/qrcode_3.jpeg?imageslim" alt="">
                    <img src="http://p4jgnfdei.bkt.clouddn.com/qrcode_3.jpeg?imageslim" alt="">
                </div>
            </div>
            <div class="right">
                <img src="http://p4jgnfdei.bkt.clouddn.com/map.png?imageslim" alt="">
            </div>
        </div>
    </div>
    <script>
        $('.bg').anystretch();
    </script>
{% endblock %}