<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}"/>
    <link rel="stylesheet" type="text/css" href='{% static "css/base.css" %}'/>
    <script type="text/javascript" src="{% static "js/jquery.js" %}"></script>
    {% block script %} {% endblock %}
</head>
<body>
<div class="container header">
    <div class="header_info">
        <div class="info_left">
            <div class="header_service_time">
                <span class="glyphicon glyphicon-time" aria-hidden="true"></span>
                时间：周一至周日 08:00 - 18:00
            </div>
        </div>
        <div class="info_right">
            <div class="header_contact_email">
                <span class="glyphicon glyphicon-envelope" aria-hidden="true"></span>
                helloworld@gmail.com
            </div>
            <div class="header_contact_phone">
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                010-80923314
            </div>
        </div>
    </div>
    <div class="header_navbar">
        <div class="info_left">
            <div class="header_logo"><img onclick="javascript:window.location.href='/';" src='{% static "image/logo.png" %}'></div>
        </div>
        <ul class="info_right">
            <a class="header_nav_item" href="/">首页</a>
            <a class="header_nav_item" href="/education ">瑞士教育</a>
            <a class="header_nav_item" href="/health_care">瑞士医疗</a>
            <a class="header_nav_item" href="/news">新闻中心</a>
            <a class="header_nav_item" href="/about">关于我们</a>
        </ul>
    </div>
</div>
{% block content %} {% endblock %}
<div class="container footer">
    <div class="footer_content">
        <div class="header_logo"><img onclick="javascript:window.location.href='/';" src='{% static "image/logo.png" %}'></div>
        <div class="toc">
            <a class="toc_title" href="/education">瑞士教育</a>
            <a class="toc_link" href="/education#swiss_education">瑞士教育介绍</a>
            <a class="toc_link" href="/education#swiss_schools">学校的选择</a>
            <a class="toc_link" href="/education#service_provide">我们的服务</a>
        </div>
        <div class="toc">
            <a class="toc_title" href="/health_care">瑞士医疗</a>
            <a class="toc_link" href="/health_care#swiss_health_care">瑞士医疗概况</a>
            <a class="toc_link" href="/health_care#swiss_hospital">医疗机构</a>
            <a class="toc_link" href="/health_care#service_provide">我们提供的服务</a>
        </div>
        <div class="toc">
            <p class="toc_title">新闻中心</p>
            <p class="toc_link">公司新闻</p>
            <p class="toc_link">行业新闻</p>
        </div>
        <div class="toc">
            <a class="toc_title" href="/about">关于我们</a>
            <a class="toc_link" href="/about#our_service">公司简介</a>
            <a class="toc_link" href="/about#company_env">公司环境</a>
            <a class="toc_link" href="/about#our_team">团队介绍</a>
            <a class="toc_link" href="/about#our_cert">经营资质</a>
            <a class="toc_link" href="/about#company_letter">公司致辞</a>
            <a class="toc_link" href="/about#contact_us">联系我们</a>
        </div>
    </div>
    <div class="footer_copyright">
        <p class="copyright">Copyright © 2018 Innovation AI Swiss GmbH.</p>
        <p class="copyright">All rights reserved.</p>
    </div>
</div>
</body>
</html>