{% extends "base.html" %}

{% load staticfiles %}

{% block title %} 瑞士爱尚 | 医疗服务 {% endblock %}

{% block script %}
    <link rel="stylesheet" type="text/css" href='{% static "css/health.css" %}'/>
    <script type="text/javascript" src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static "js/jquery.anystretch.min.js" %}"></script>
{% endblock %}

{% block content %}
    <div class="bg" data-stretch="{% static "image/healthcare_banner.png" %}">
        <div class="home_motto">
            <h1 class="motto_title">医疗服务</h1>
            <p class="motto-desc">
                AISwiss为中国精英家庭子女AIswiss致力于将健康，至臻，高品质的生活体验带给中国精英家庭。为您提供定制化医疗体检、海外转诊、医美保健等专项服务。为您的健康生活保驾护航。
            </p>
        </div>
    </div>
    <div id="swiss_health_care">
        <div class="subtitle">
            医疗服务
        </div>
        <div class="title">
            瑞士医疗
        </div>
        <hr class="title_divide"/>
        <div class="container health_advantage_blocks">
            <div class="health_advantage_row" style="justify-content: space-between">
                <div class="health_advantage">
                    <div class="health_advantage_img">
                        <img src="{% static "image/health_icon_system.png" %}">
                    </div>
                    <h1>一流的医疗体系</h1>
                    <p>瑞士拥有非常密集的一流专科医院、综合医院、康复中心和保健机构。这个国家以其首创性的医疗成就和出色的治疗效果而闻名全球。瑞士医院拥有先进的治疗方法和技术，并且配备了最先进的医疗设备。</p>
                </div>
                <div class="health_advantage">
                    <div class="health_advantage_img">
                        <img src="{% static "image/health_icon_expert.png" %}">
                    </div>
                    <h1>著名的医疗专家</h1>
                    <p>瑞士的医生在国际上享有盛誉，并且在新治疗方法的研究和开发方面始终处于世界领先地位。不断提高医疗水平就是他们的重心，质量就是他们的基本原则。</p>
                </div>
                <div class="health_advantage">
                    <div class="health_advantage_img">
                        <img src="{% static "image/health_icon_doctor.png" %}">
                    </div>
                    <h1>出色的医护人员</h1>
                    <p>瑞士医护教育水平极其出色。病人则从出类拔萃的医护标准和二十四小时人工护理中受益匪浅。医护团队始终关注每位病人以及他们的安康。</p>
                </div>
            </div>
            <div class="health_advantage_row">
                <div class="health_advantage">
                    <div class="health_advantage_img">
                        <img style="width: 50%" src="{% static "image/health_icon_cure.png" %}">
                    </div>
                    <h1>瑞士医学治疗</h1>
                    <p>如果您来瑞士接受治疗的话，您还将会切身感受一下传统的瑞士价值观的积极影响。精细、诚信、守时、友善、整洁和谨慎是瑞士的基本价值观。您完全可以身心放松，充分体会最出色的服务效果。</p>
                </div>
                <div class="health_advantage">
                    <div class="health_advantage_img">
                        <img src="{% static "image/health_icon_patient.png" %}">
                    </div>
                    <h1>瑞士的外国病人</h1>
                    <p>瑞士医疗旅游历史悠久。早在罗马时期，富裕的旅行者就会前来瑞士享受矿物温泉的益处。如今，来自世界各地的病人纷沓而至前来瑞士旅游，享受瑞士医院无可比拟的品质和领域广泛的优势。</p>
                </div>
            </div>
        </div>
    </div>
    <div id="swiss_hospital">
        <div class="subtitle">
            医疗服务
        </div>
        <div class="title">
            医疗机构选择
        </div>
        <hr class="title_divide"/>
        <div class="hospitals container">
            <div class="hospital_blocks">
                <table class="hospital_unit">
                    <tr>
                        <td class="hospital_image"
                            style="background-image: url('{% static "image/swiz-hos-1.jpg" %}')"></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="	width: 508px; padding: 20px 0 0;font-size: 26px;text-align: center;color: #2e2e30;">
                            La Source 源泉医院
                        </td>
                    </tr>
                    <tr style="height: 166px">
                        <td style="padding: 28px 20px 40px;font-size: 16px;line-height: 1.5;text-align: justify;color: #444446;">
                            Clinique de La Source，瑞士源泉医院坐落在洛桑市中心，具有瑞士药监局颁发的“Swiss Leading
                            Hospital”（瑞士顶级医院医院俱乐部成员）证书。424位医生（41家资质诊所）挂靠该医院，100多位专家医生在各自领域都有着极高的声誉和成就。
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0; text-align: center;">
                            <button class="transButtonSmall" onclick="javascript:window.location.href='/health_care';">
                                了解更多
                            </button>
                        </td>
                    </tr>
                </table>
                <table class="hospital_unit">
                    <tr>
                        <td class="hospital_image"
                            style="background-image: url('{% static "image/swiz-hos-2.jpg" %}')"></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="	width: 508px; padding: 20px 0 0;font-size: 26px;text-align: center;color: #2e2e30;">
                            Clinique de Montchoisi
                        </td>
                    </tr>
                    <tr style="height: 166px">
                        <td style="padding: 28px 20px 40px;font-size: 16px;line-height: 1.5;text-align: justify;color: #444446;">
                            Clinique de
                            Montchoisi位于洛桑市中心，所有病房均可尽览日内瓦湖和阿尔卑斯山。顶楼包括一间总统套房和多间宽敞舒适的普通套房。该诊所在五官科，外科整形，抗衰老领域拥有强劲的竞争力。诊所拥有二十多名知名的FMH（瑞士医疗协会）的该领域专家
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0; text-align: center;">
                            <button class="transButtonSmall" onclick="javascript:window.location.href='/health_care';">
                                了解更多
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="hospital_blocks">
                <table class="hospital_unit">
                    <tr>
                        <td class="hospital_image"
                            style="background-image: url('{% static "image/swiz-hos-3.jpg" %}')"></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="	width: 508px; padding: 20px 0 0;font-size: 26px;text-align: center;color: #2e2e30;">
                            瑞士吉尼列尔医院
                        </td>
                    </tr>
                    <tr style="height: 166px">
                        <td style="padding: 28px 20px 40px;font-size: 16px;line-height: 1.5;text-align: justify;color: #444446;">
                            瑞士吉尼列尔医院被绮丽的风景环绕其中，静谧的日内瓦湖和巍峨的勃朗峰尽收眼底。瑞士吉尼列尔医院拥有专业的外科、内科执业医师团队，以及最先进的医疗技术平台之一，让患者在舒适的就医环境中，享受个性化医疗专业服务。
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0; text-align: center;">
                            <button class="transButtonSmall" onclick="javascript:window.location.href='/health_care';">
                                了解更多
                            </button>
                        </td>
                    </tr>
                </table>
                <table class="hospital_unit">
                    <tr>
                        <td class="hospital_image"
                            style="background-image: url('{% static "image/swiz-hos-4.jpg" %}')"></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="	width: 508px; padding: 20px 0 0;font-size: 26px;text-align: center;color: #2e2e30;">
                            苏黎世湖畔花园诊所
                        </td>
                    </tr>
                    <tr style="height: 166px">
                        <td style="padding: 28px 20px 40px;font-size: 16px;line-height: 1.5;text-align: justify;color: #444446;">
                            创立于 1981 年的瑞士 SGK 医疗中心，位于美丽的瑞士苏黎世湖边，阿尔卑斯山脚，是一家综合性私立医院，专家均拥有 30
                            年以上的临床经验，为每位前来的贵宾提供全面、个性化治疗方案，享受医院高度专注、私密和舒适的服务，在瑞士各大领域声誉显赫。
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0; text-align: center;">
                            <button class="transButtonSmall" onclick="javascript:window.location.href='/health_care';">
                                了解更多
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="hospital_blocks">
                <table class="hospital_unit">
                    <tr>
                        <td class="hospital_image"
                            style="background-image: url('{% static "image/swiz-hos-5.jpg" %}')"></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="	width: 508px; padding: 20px 0 0;font-size: 26px;text-align: center;color: #2e2e30;">
                            SHC 瑞士健康中心
                        </td>
                    </tr>
                    <tr style="height: 166px">
                        <td style="padding: 28px 20px 40px;font-size: 16px;line-height: 1.5;text-align: justify;color: #444446;">
                            SHC
                            瑞士健康中心是瑞士抗衰老领域的顶级机构。瑞士健康中心的保健医师同样全部具备瑞士联邦颁发的从医执照，拥有丰富临床工作经验的医护人员精通多门学科，对人体所有器官相对应的医学科目做到非常专业，以保证在治疗后的观察护理期发挥重要作用。
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0; text-align: center;">
                            <button class="transButtonSmall" onclick="javascript:window.location.href='/health_care';">
                                了解更多
                            </button>
                        </td>
                    </tr>
                </table>
                <table class="hospital_unit">
                    <tr>
                        <td class="hospital_image"
                            style="background-image: url('{% static "image/swiz-hos-6.jpg" %}')"></td>
                    </tr>
                    <tr style="height: 37px;">
                        <td style="	width: 508px; padding: 20px 0 0;font-size: 26px;text-align: center;color: #2e2e30;">
                            苏黎世微分子研究中心
                        </td>
                    </tr>
                    <tr style="height: 166px">
                        <td style="padding: 28px 20px 40px;font-size: 16px;line-height: 1.5;text-align: justify;color: #444446;">
                            The Kusnacht
                            Practice在生物分子恢复（“Bio-R”）领域做出了开创性的工作。Bio-R是一种创新医学疗法，能纠正我们个人身体和精神中的失衡和不足，能极大地改善我们身体健康和情绪健康。
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 0; text-align: center;">
                            <button class="transButtonSmall" onclick="javascript:window.location.href='/health_care';">
                                了解更多
                            </button>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div id="service_provide">
        <div class="subtitle">
            医疗服务
        </div>
        <div class="title">
            我们提供的服务
        </div>
        <hr class="title_divide"/>
        <div class="service_block">
            <div class="service_row container">
                <div class="service">
                    <div class="service_title">
                        <img src="{% static "image/section1.png" %}">
                        <span>瑞士咨询</span>
                    </div>
                    <p>
                        我们会提供专业的咨询服务，包括瑞士总体概况，社会福利，移民制度等。为客户解答对于瑞士的所有相关疑问，让客户对瑞士的各个方面都有一个明确的了解。
                    </p>
                </div>
                <div class="service">
                    <div class="service_title">
                        <img src="{% static "image/section2.png" %}">
                        <span>康体，美容项目</span>
                    </div>
                    <p>
                        针对每一个客户的不同需求，我们会及时反馈给医疗机构，尽快的得到专业的建议，为客户提供康体，医疗项目的推荐，最后由客户决定适合自己的疗程。
                    </p>
                </div>
                <div class="service">
                    <div class="service_title">
                        <img src="{% static "image/section3.png" %}">
                        <span>预订和行程安排</span>
                    </div>
                    <p>
                        客户确认之后，立即安排之后的疗程预订，并且按照客户的需求，制定客户满意的行程，包括出行，住宿等预订（给出多种方案供客户比选），整体行程的安排（旅游，购物等）。
                    </p>
                </div>
            </div>
            <div class="service_row container">
                <div class="service">
                    <div class="service_title">
                        <img src="{% static "image/section4.png" %}">
                        <span>签证办理</span>
                    </div>
                    <p>
                        我们会收集客户的相关基本资料，并持续与医疗机构签证官和瑞士大使馆进行沟通，确保能够让客户的签证顺利通过。让客户出行顺利，确保旅程无忧。
                    </p>
                </div>
                <div class="service">
                    <div class="service_title">
                        <img src="{% static "image/section5.png" %}">
                        <span>行前培训</span>
                    </div>
                    <p>
                        我们会在客户出行之前，做一个行前准备会。为客户能够更愉快的享受此次旅途，我们会让客户先了解各种相关事项（包括赴瑞须带行李，如果避免危险，怎样化解意外等情况）。
                    </p>
                </div>
                <div class="service">
                    <div class="service_title">
                        <img src="{% static "image/section6.png" %}">
                        <span>全程陪同</span>
                    </div>
                    <p>
                        我们会有一个专业的涉外团队进行1对1的定制陪同服务（最多1对3），服务包括私人助理，私人导游，私人翻译等。为您解决在瑞的所有问题。
                    </p>
                </div>
            </div>
        </div>
    </div>
    <script>
        $('.bg').anystretch();
    </script>
{% endblock %}