.news_home_page {
    display: flex;
    flex-direction: row;
    padding-top: 30px;
    margin-bottom: 30px;
}

.news_catalog_list {
    width: 20%;
    display: flex;
    flex-direction: column;
    padding-top: 40px;
}

.news_catalog_list a {
    font-size: 16px;
    line-height: 30px;
    height: 40px;
    color: #737373;
    text-decoration: none;
}

.news_catalog_list a.active {
    color: #f95454;
    font-weight: 600;
}

.news_catalog_list a:hover {
    color: #f95454;
}

.news_detail {
    width: 80%;
    background-color: #f8f8f8;
    padding: 60px;
    text-align: justify;
    color: #333333;
}

.news_detail .name {
    font-size: 30px;
    font-weight: 500;
    text-align: center;
}

.news_detail .date {
    text-align: center;
    font-size: 16px;
	font-weight: 300;
	line-height: 1.0;
	color: #737373;
    padding-bottom: 50px;
}

.news_detail h1 {
    font-size: 22px;
    margin-top: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.news_detail h2 {
    font-size: 20px;
    margin-top: 24px;
    font-weight: 500;
    margin-bottom: 15px;
}

.news_detail p {
    font-size: 16px;
    line-height: 28px;
    padding-bottom: 15px;
}

.news_detail img {
    width: 90% !important;
    margin-left: 5%;
    padding: 20px 0;
}

.news_detail ol {
    list-style-type: circle;
    padding: 20px 0 20px 36px;
    font-size: 16px;
    line-height: 24px;
}